<% var title = 'Programación Orientada a Objetos y Herencia en JavaScript' %>
<% include head %>

<h1>Programación Orientada a Objetos y Herencia en JavaScript</h1>

<p>Bienvenido!</p>
<% include menu %>

<% include foot %>