<div>
    Menú:
    <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/content">Contenido</a> </li>
        <li> <a href="/login">Iniciar sesión</a> </li>
        <li> <a href="/logout">Cerrar sesión</a> </li>
    </ul>
</div>